extends layouts/main-layout.pug 

block content
    .wrapper-v
        .wrapper-h 
            .attacksContainer
            .mapContainer
                #map   
            .topAttackingAreas
        .wrapper-h.legend-container
            .wrapper-h.ac
                .circle.logon-failed
                .legend LogonFailed
            .wrapper-h.ac
                .circle.phishing
                .legend Phishing
            .wrapper-h.ac
                .circle.phishing-report
                .legend Phishing Report
        .wrapper-h.legend-container
            .wrapper-h.ac
                .circle.successful-logon
                .legend SuccessfulLogon
            .wrapper-h.ac
                .circle.heavy-ingress-traffic
                .legend Heavy Ingress Traffic
            .wrapper-h.ac
                .circle.scan-attempts
                .legend Scan Attempts