extends layouts/main-layout.pug 

block content
    .wrapper-v
        .wrapper-h 
            .attacksContainer
            .mapContainer
                #map   
            .topAttackingAreas
        .wrapper-h 
            span
            span 
            span